body {
    /*background-color: #fff;*/
}
h1, h2, h3
{
    /*color: #EECC00;*/
}

.backlight
{
    background-color: #999;
}

.border
{
    border: 2px solid;
    border-color: #333;
    border-top-color: #333;
    z-index: 100;
}

.noBorder
{
    border: none;
}